
@{
    ViewBag.Title = "ChatRoom";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChatRoom</title>
</head>
<body>
    <h2>Чат-комната</h2>

    <div class="main">
        <div id="loginBlock">
            Введите логин:<br />
            <input id="txtUserName" type="text" />
            <input id="btnLogin" type="button" value="Войти" />
        </div>
        <div class="row">
            <div id="chatBody" class="col-md-8">
                <div id="header"></div>
                <div id="chatroom"></div>
                <div id="inputForm">
                    <input type="text" id="message" />
                    <input type="button" id="sendmessage" value="Отправить" />
                </div>
            </div>
            <div id="chatusers" class="col-md-4">
                <p><b>Все пользователи</b></p>
            </div>
        </div>
        <input id="hdId" type="hidden" />
        <input id="username" type="hidden" />
        <input id="userId" type="hidden" value="@ViewBag.Ident" />
    </div>

    @section Scripts {
        @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
        @Scripts.Render("~/Scripts/jquery.signalR-2.4.0.min.js")
        @Scripts.Render("~/signalr/hubs")
        @Scripts.Render("~/Scripts/util.js")
    }
    <!--<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!--Ссылка на библиотеку SignalR 
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR 
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/util.js"></script-->
</body>
</html>
